p {
    color: #A3A5A9;
}

.fw-img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    object-fit: cover;

    &.smaller-- {
        width: 40px;
        height: 40px;
    }
}

.widget-recent-post {
    list-style: none;

    li {
        margin-bottom: 10px;
    }
}

.widget-user {
    color: #122b46;
    font-weight: 500;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: #40c706;
        text-decoration: none;
    }
}

.widget-recent-post__block {
    display: flex;
}

.widget-recent-post__poster {
    width: 70px;
    height: 80px;
    object-fit: fill;
}

.widget-recent-post-description {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.widget-recent-post__title {
    font-size: 14px;
    color: #122b46;
    letter-spacing: -.24px;
    line-height: 22px;
}

.widget-recent-post__date {
    font-size: 12px;
    color: #939597;
    letter-spacing: -.24px;
    line-height: 22px;
    margin: 0;
}

.widget-activity-list-date {
    font-size: 12px;
    color: #939597;
    transition: all 0.2s ease-in-out;
    text-decoration: none;

    &:hover {
        color: #40c706;
    }
}

.activity-update {
    display: flex;
    padding-bottom: 15px;

    &:last-of-type {
        padding-bottom: 0;
    }
}

.activity-update-desc {
    padding-left: 9px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.widget-recent-active-members {
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
}