<textarea
    class="form-field"
    #myTextArea (click)="getCaretPos(myTextArea)" (keyup)="getCaretPos(myTextArea)" cols="40"
    [(ngModel)]="content"
    placeholder="Write here or use @ to metion someone">
    {{content}}
  </textarea>

<br>

<button (click)="showEmoji = !showEmoji">show emojis</button>

<input type="color" #inputColor [(ngModel)]="color">

<ng-container *ngIf="showEmoji">
    <emoji-mart [i18n]="{ search: 'Recherche', categories: { search: 'Résultats de recherche', recent: 'Récents' } }"
        title="Awesome !!!" [style]="{
        position: 'absolute',
        backgroundColor: color
      }" (emojiClick)="addEmoji($event)">
    </emoji-mart>
</ng-container>