.wrapper {
    max-width: 1024px;
    padding-inline: 20px;
    margin: 0 auto;
}

.video-layout {
    display: flex;
    flex-direction: column;
}

.player-list {
    list-style: none;

    li {
        list-style: none;
        padding: 15px 35px;
        display: block;
        background: #cccc;
        cursor: pointer;
        text-align: left;
        margin-bottom: 1px;
    }
}


li.selected {
    background: #03A9F4 !important;
}

@media (min-width: 750px) {}