<div class="wrapper" fxLayout="column" fxLayoutGap="32px">
    <h1>ngx-plyr: plyr for angular</h1>

    <p>Here you can find various demos for <a href="https://github.com/smnbbrv/ngx-plyr">ngx-plyr</a></p>
    <div>Video</div>
    <div>Plyr with custom video as a source</div>
    <div class="video-layout">
        <div mat-card-image plyr plyrTitle="Custom video" [plyrPlaysInline]="true" [plyrCrossOrigin]="true"
            [plyrPoster]="currentVideo.poster" [plyrSources]="currentVideo.videoSources"
            [plyrTracks]="currentVideo.tracks" (plyrInit)="player = $event" (plyrPlay)="played($event)">
        </div>
        <ul class="player-list">
            <li *ngFor="let vid of video; let i = index" [class.selected]="vid === currentVideo"
                (click)="startPlaylistVdo(vid, i)">{{vid.name}}</li>
        </ul>
    </div>
</div>