<div class="profile">
    <div class="profile-header">
        <div [style.background-image]="'url('+ imagePath+ ')'" class="profile-header__image-block">
        </div>
    </div>
    <div class="profile-container">
        <div class="profile-img-block">
            <img src="assets/images/placeholders/placeholder-person.jpg" alt="" class="profile-img">
        </div>

        <div class="profile-details-block">
            <div class="profile-details-block__name-layout">
                <h2 class="profile-name">Nurfarah</h2>
                <div class="profile-tag">
                    <p>Pelajar</p>
                </div>
            </div>

            <div class="profile-points-block">
                <img src="assets/images/icons/points-icon.png" alt="" class="profile-points-icon">
                <p class="profile-points">
                    67542 Points
                </p>
            </div>

            <div class="profile-username-block">
                <h4 class="profile-username">@Nic <span>Join March 2021</span></h4>
            </div>

            <div class="profile-count">
                <p class="profile-count-text"><b>15</b> followers</p>
                <p class="profile-count-text"><b>11</b> following</p>
            </div>
        </div>
    </div>
</div>

<!-- [style.background-image]="'url(' + imagePath + 'your-image.jpg)" -->