<div class="content">
    <div class="content-area secondary--">
        <div class="widget-area">
            <app-widget [widgetType]="'following'" [widgetTitle]="'I\'m Following'" [widgetNumCount]="11"></app-widget>
        </div>
        <div class="widget-area">
            <app-widget [widgetType]="'blog'" [widgetTitle]="'Blog'"></app-widget>
        </div>
    </div>

    <div class="content-area primary--">
        <div class="widget-area">
            <h1>Activity Feed</h1>
            <div class="activity-form__user-profile">
                <img src="assets/images/placeholders/placeholder-person.jpg" alt="" class="profile-image">
                <h3 class="activity-form__user-name">Nurfarah</h3>
            </div>           
            <app-emoji-picker (touchEmitter)="textboxIsTouch($event)"></app-emoji-picker>
            <ng-container *ngIf="activityFormButtons">
                <div class="activity-form-selection-area">
                    <select name="postIn" id="postIn">
                        <option value="profile">Post in: Profile</option>
                        <option value="group">Post in: Group</option>
                    </select>
                    <select name="audience" id="audience">
                        <option value="public">Public</option>
                        <option value="allMembers">All Members</option>
                        <option value="myConnections">My Connections</option>
                        <option value="onlyMe">Only Me</option>
                    </select>
                </div>
                <div class="activity-form-submit-area">
                    <button type="button" class="activity-from__cancel-button" (click)="onHandleCancel($event)">Cancel</button>
                    <button type="submit" class="activity-from__submit-button">Post Update</button>
                </div>
            </ng-container>

            <div class="home-feed">
                <div class="home-feed__header">
                    <mat-tab-group>
                        <mat-tab label="All Updates"> Content 1 </mat-tab>
                        <mat-tab label="Likes"> Content 2 </mat-tab>
                        <div class="search-container">
                            <form>
                              <input type="text" placeholder="Search.." name="search">
                              <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>

    <div class="content-area secondary--">
        <div class="widget-area">
            <app-widget [widgetType]="'latestUpdates'" [widgetTitle]="'Latest updates'"></app-widget>
        </div>

        <div class="widget-area">
            <app-widget [widgetType]="'recentActiveMembers'" [widgetTitle]="'Recently Active Members'"></app-widget>
        </div>
    </div>
</div>