<div class="content">
    <div class="content-area secondary--">
        <div class="widget-area">
            <app-widget [widgetType]="'following'" [widgetTitle]="'I\'m Following'" [widgetNumCount]="11"></app-widget>
        </div>
        <div class="widget-area">
            <app-widget [widgetType]="'blog'" [widgetTitle]="'Blog'"></app-widget>
        </div>
    </div>

    <div class="content-area primary--">
        <div class="widget-area">
            <h1>Activity Feed</h1>
            <app-widget></app-widget>
        </div>


        <!-- <app-emoji-picker></app-emoji-picker> -->

    </div>

    <div class="content-area secondary--">
        <div class="widget-area">
            <app-widget [widgetType]="'latestUpdates'" [widgetTitle]="'Latest updates'"></app-widget>
        </div>

        <div class="widget-area">
            <app-widget [widgetType]="'recentActiveMembers'" [widgetTitle]="'Recently Active Members'"></app-widget>
        </div>
    </div>
</div>