.activity-form__user-profile {
    background: #fff;
    width: 100%;
    padding: 12px 15px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.activity-form__user-name {
    color: #122b46;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -.24px;
}