.site-header {
    padding: 20px 0;
    background: white;
    box-shadow: 0 1px 0 0 rgb(139 141 157 / 5%), 0 0 1px 0 rgb(65 71 108 / 15%);
}

.site-header-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .9);
    z-index: 11;
}

.site-header-logo {
    max-height: 30px;
}

.site-header__ul {
    background: #fff;
    width: 60%;
    height: 100%;
    list-style: none;
    padding: 20px;
    box-shadow: 0 2px 5px 0 rgb(18 43 70 / 70%);
}

.site-header__list {
    margin-top: 10px;
}

.site-header__list-link {
    margin-left: 20px;
}

.site-header-close {
    position: absolute;
    top: 20px;
    right: 20px;
}

@media (min-width: 800px) {
    .site-header-overlay {
        width: auto;
        transition: all 0.35s ease-in;

        &:hover {
            .site-header__list-link {
                display: inline-block;
            }
        }
    }

    .site-header__ul {
        width: auto;
    }

    .site-header-close {
        display: none;
    }

    .site-header__list-link {
        display: none;
    }

    .site-header-logo {
        margin-left: 30px;
    }
}